<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>maps</string>
		<string>http</string>
		<string>https</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Enable notifications to receive reminders about upcoming events you're interested in.</string>
</dict>
</plist>
